@import url('https://fonts.cdnfonts.com/css/tt-commons');

/* GENERAL STyLES */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  font-family: 'TT Commons', sans-serif;
}

body, html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote {
  margin: 0;
  letter-spacing: .025em;
}

body::-webkit-scrollbar {
  display: none;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

/* UTILITY CLASS */
.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -20px;
  right: -20px;
  height: 4px;
  background: #202020;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#DD9603 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#DD9603);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}

.loader h1 {
  animation: loaderText .8s infinite;
}

@keyframes loaderText {
  0% {
    color: #202020;
  } 50% {
    color: #DD9603;
  } 100% {
    color: #202020;
  }
}

.book-now-btn {
  animation: scalebtn 2s infinite;
  outline: 2px solid #DD9603;
  outline-offset: 5px;
  transition: .3s;
}

@keyframes scalebtn{
  0% {
      transform: scale(.9);
  }
  50% {
      transform: scale(1);
  }
  100% {
      transform: scale(.9);
  }
}


/* HEADER NAV */
.header-nav {
  left: 100%;
  transition: all .3s ease;
}

.header-nav.active {
  left: 50%;
}

/* START HERO SECTION */
#hero::after{
  content: '';
  background: url('../images/landing-page/Hero-bg.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  filter: brightness(70%);
  z-index: -10;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
}

/* VILLAS */
.villa-1, .villa-2 {
  transition: box-shadow .3s ease;
  animation: villaFloat 2s infinite;
}

.villa-1:hover, .villa-2:hover {
  box-shadow: 0 0 40px 10px #DD9603;
}

@keyframes villaFloat{
  0% {
    transform: translateY(-20px);
  } 50% {
    transform: translateY(0);
  } 100% {
    transform: translateY(-20px);
  }
}


/* ABOUT US */
.about-us .image-1::after, .about-us .image-3::after {
  position: absolute;
  content: '';
  right: -25px;
  width: 100%;
  bottom: -25px;
  height: 100%;
  border: 1px solid #202020;
  border-radius: 4px;
  z-index: -1;
}

.about-us .image-2::after {
  position: absolute;
  content: '';
  left: -25px;
  width: 100%;
  bottom: -25px;
  height: 100%;
  border: 1px solid #202020;
  border-radius: 4px;
  z-index: -1;
}

@media (max-width: 500px) {
  .about-us .image-1::after, .about-us .image-3::after {
    right: 0;
  }
  
  .about-us .image-2::after {
    left: 0;
  }
}


/* CONTACT */
.drop-down-hours .open-days{
  display: none;
}

.drop-down-hours:hover .open-days{
  display: block;
}


/* SWIPER */
.swiper-pagination {
  position: static !important;
  margin-top: 10px;
}

.swiper-pagination-bullet{
  height: 50px !important;
  width: 50px !important;
  margin: 0 5px;
  background: transparent !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: .6 !important;
}

.swiper-pagination-bullet img{
  height: 100% !important;
  width: 100% !important;
  margin: 0 5px;
  border-radius: 0 !important;
  background-size: cover;
}

.swiper-next, .swiper-prev {
  position: absolute;
  font-size: 2rem;
  z-index: 2;
}