@import url('https://fonts.cdnfonts.com/css/tt-commons');

/* GENERAL STyLES */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  line-height: 1.5;
  font-family: 'TT Commons', sans-serif;
}

body, html {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, figure, blockquote {
  margin: 0;
  letter-spacing: .025em;
}

body::-webkit-scrollbar {
  display: none;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

input, button, textarea, select {
  font: inherit;
}

/* UTILITY CLASS */
.container {
  --max-width: 1280px;
  --padding: 1rem;

  max-width: min(var(--max-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -20px;
  right: -20px;
  height: 4px;
  background: #202020;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#DD9603 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#DD9603);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}

.loader h1 {
  animation: loaderText .8s infinite;
}

@keyframes loaderText {
  0% {
    color: #202020;
  } 50% {
    color: #DD9603;
  } 100% {
    color: #202020;
  }
}

/* HEADER NAV */
.header-nav {
  left: 100%;
  transition: all .3s ease;
}

.header-nav.active {
  left: 50%;
}

/* START HERO SECTION */
#hero::after{
  content: '';
  background: url('../images/villa-1/hero-bg.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  filter: brightness(50%);
  z-index: -10;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
}

/* KITCHEN */
.kitchen {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(2, 150px);
  gap: 20px;
}

.kitchen img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px 1px #DD9603;
  object-fit: cover;
}

.i1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.i2 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.i3 {
  grid-column: 2/3;
  grid-row: 1/3;
}

.i4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.i5 {
  grid-column: 3/4;
  grid-row: 2/3;
}

@media (max-width: 578px) {
  .kitchen {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 150px);
    gap: 20px;
  }

  .i1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .i2 {
    grid-column: 1/2;
    grid-row: 3/5;
  }
  
  .i3 {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  
  .i4 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  .i5 {
    grid-column: 2/3;
    grid-row: 3/5;
  }
}

@media (max-width: 578px) {
  .kitchen {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 150px);
    gap: 20px;
  }

  .i1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .i2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .i3 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  
  .i4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .i5 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}


/* PHOTO GALLERY */
.photo-gallery .image-container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8 ,150px);
}

.photo-gallery .image-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 3px 1px #DD9603;
  border-radius: var(--radius);
  filter: brightness(80%);
}

.im1, .im4, .im9, .im12, .im13, .im18 {
  grid-row: span 2;
}

.im2, .im5, .im7, .im11, .im15, .im16, .im20, .im21 {
  grid-row: span 1;
  grid-column: span 1;
}

.im3, .im10, .im16 {
  grid-row: span 2;
  grid-column: span 2;
}

.im6, .im8, .im14, .im19 {
  grid-column: span 2;
}

@media (max-width: 768px) {
  /* PHOTO GALLERY */
  .photo-gallery .image-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 120px);
  }

  .im1, .im3, .im5, .im12, .im15 {
      grid-column: span 2;
      grid-row: span 1;
  }

  .im2, .im7, .im18 {
      grid-column: span 2;
      grid-row: span 2;
  }

  .im6, .im8, .im9, .im14, .im16 {
      grid-column: span 1;
      grid-row: span 1;
  }

  .im10 {
      grid-column: span 1;
      grid-row: span 2;
  }
}


/* swiper */
.swiper-rooms {
  position: static !important;
  padding: 5px !important;
}

.swiper-slide {
  box-shadow: 0 0 4px 1px #707070 !important;
}

.swiper-next, .swiper-prev {
  position: absolute;
  font-size: 1.5rem;
  z-index: 2;
  color: white;
  background: #202020;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}